<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        {{ .title }}
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle-string">String getter</a>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle-json">Json getter</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.3.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    var stringMarker = false;
    $("#menu-toggle-string").click(function(e) {
        e.preventDefault();
        $.ajax({
		  url: "/string",
		  context: document.body
		}).done(function(data) {
		  if(stringMarker) {
		    $(e.delegateTarget).text(data);
		    stringMarker = false;
		  } else {
		    $(e.delegateTarget).text("Test - " + data);
		    stringMarker = true;
		  }
		});
    });
    
    var jsonMarker = false;
    $("#menu-toggle-json").click(function(e) {
        e.preventDefault();
        $.ajax({
		  url: "/json",
		  context: document.body
		}).done(function(data) {
		  if(typeof data =='object') {
		  	var jsonString = "";
		  	$.each(data, function(i, obj) {
			  jsonString += i + ": " + obj + ", ";
			});
			if(jsonMarker) {
			  $(e.delegateTarget).text(jsonString);
			  jsonMarker = false;
			} else {
			  $(e.delegateTarget).text("Test - " + jsonString);
			  jsonMarker = true;
			  }
		  } else {
		  	alert("No valid JSON from server!");
		  }
		});
    });
    </script>

</body>

</html>
